@font-face {
    font-family: "OCRA";
    src: url("OCRA.otf");
    font-weight: 200;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #db69f4, #51afaf);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 250px;
    height: 430px;
    border: 1px;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.2);
    padding: 2rem 1.5rem 1rem 1.5rem;
    z-index: 100;
    backdrop-filter: blur(8px);
}
.card-type {
    position: relative;
    opacity: .5;
}
.icon {
    display: inline-block;
    height: 24px;
    margin-right: 110px;
}
.type {
    transform-origin: right;
    transform: rotate(-90deg);
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 8px;
    margin-top: -8px;
    font-size: 10px;
    text-align: center;
}
.chizi {
    height: 110px;
    border-radius: 50%;
    margin: 3rem auto;
    text-align: center;
}
.card-number {
    font-family: "OCRA";
    font-size: 13px;
    text-align: center;
    opacity: .6;
}
.name{
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    opacity: .6;
}
.arrow {
    width: 20px;
    font-size: 16px;
    margin: 2rem auto 0 auto;
    opacity: .3;
}
.top-circle {
    background-image: linear-gradient(180deg, #b8f192, #e6afc6);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: -25px;
    z-index: 5;
}
.right-circle {
    background-image: linear-gradient(180deg, #8259e3, #521977);
    height: 100px;
    width: 100px;
    z-index: 7;
    border-radius: 50%;
    margin-top: -200px;
    margin-bottom: 100px;
    margin-right: -230px;
}
.left-circle {
    background-image: linear-gradient(180deg, #7feb95, #5abde4);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 5;
    margin-top: -75px;
    margin-left: -250px;
}
@supports ((-webkit-backdrop-filter: blur(8px))) {
    .card {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }
  }